body {
    background-color: #a3cdd4;
    font-family: Arial, Helvetica, sans-serif;
}

#foto{
  border-radius: 50%;
  object-fit: cover;
}

.centro {
    text-align: center;
}

.perfil {
    text-align: justify;
    width: 600px;
    margin-bottom: 100px;
}

#contato {
    width: 600px;
    text-align: left;
    margin-bottom: 100px;
}


.button {
    padding: 1px 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #a3cdd4;
    border: none;
    gap: 2px;
    margin-right: 1px;
    margin-left: 240px;
}

.button:hover {
    transform: scale(1.1);
}

#tabela {
    text-align: center;
    margin-bottom: 100px;
}

#habilidade {
    text-align: center;
}

table {
    background-color: rgb(140, 229, 155);
    width: 50%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}
th, td {
    border: 1px solid rgb(111, 190, 201);
    padding: 5px;
    text-align: left;
    border-radius: 10px;
}
